# cache
.pytest_cache

# homework_1
homework_1/__pycache__
homework_1/sample_project/__pycache__
homework_1/sample_project/calculator/__pycache__
homework_1/sample_project/tests/__pycache__
homework_1/tasks/__pycache__
homework_1/tests/__pycache__

# homework_2
homework_2/__pycache__
homework_2/tasks/__pycache__
homework_2/tests/__pycache__

# homework_3
homework_3/__pycache__
homework_3/tasks/__pycache__
homework_3/tests/__pycache__

# homework_4
homework_4/__pycache__
homework_4/tasks/__pycache__
homework_4/tests/__pycache__

# homework_5
homework_5/__pycache__
homework_5/tasks/__pycache__
homework_5/tests/__pycache__

# homework_6
homework_6/__pycache__
homework_6/tasks/__pycache__
homework_6/tests/__pycache__

# homework_7
homework_7/__pycache__
homework_7/tasks/__pycache__
homework_7/tests/__pycache__

# homework_8
homework_8/__pycache__
homework_8/tasks/__pycache__
homework_8/tests/__pycache__
