# cache
.pytest_cache

# homework_1
homework_1/__pycache__
homework_1/sample_project/__pycache__
homework_1/sample_project/calculator/__pycache__
homework_1/sample_project/tests/__pycache__
homework_1/tasks/__pycache__
homework_1/tests/__pycache__